@import "../../app/global.scss";

.newsLetter {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background-color: $bgSecondary;
  color: $textLight;

  .newsletterWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 40px;

    @include miniLaptop {
      flex-direction: column;

      .texts {
        text-align: center;
      }
    }

    .texts {
      flex: 1;

      h1 {
        font-size: 30px;
        font-weight: bold;
      }
    }

    .inputs {
      flex: 1;
      display: flex;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;
      width: 100%;

      input {
        width: 80%;
        padding: 16px;
        color: $textDark;
        outline: none;
      }
    }
  }
}
