.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .homeWrapper {
    padding: 10px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
}
