@import "../../../app/global.scss";

.reg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bgLight;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;

  .regWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    .logoWrapper {
      display: flex;
      align-items: center;
      gap: 3px;

      span {
        font-weight: bold;
        font-size: 24px;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      h1 {
        text-align: center;
        font-size: 30px;
        color: $bgPrimary;
      }

      p {
        text-align: center;
        font-size: 20px;
      }

      .formInputs {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input,
        select {
          width: 100%;
          padding: 10px;
          border: 1px solid #ddd;
          outline: none;
          border-radius: 5px;
          //   -ms-box-sizing: content-box;
          //   -moz-box-sizing: content-box;
          //   -webkit-box-sizing: content-box;
          //   box-sizing: content-box;

          &:focus {
            border: 2px solid $bgPrimary;
          }
        }

        .passwordContainer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #ddd;
          border-radius: 5px;
          padding-right: 10px;

          input {
            border: none;
          }

          span {
            font-size: 24px;
            cursor: pointer;
          }
        }
      }

      .submitBtn {
        background-color: $bgPrimary;
        color: $textLight;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.02);
        }
      }
    }

    .banner {
      @include tabLet {
        display: none;
      }
    }
  }
}
