@import "../../app/global.scss";

.navbar {
  background-color: $bgPrimary;
  width: 100vw;
  color: $textLight;

  .navbarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;

    .left,
    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        gap: 5px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 5px;
        transition: all 0.3s ease;

        &:hover {
          color: #cccccc;
          transform: scale(1.02);
        }

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
        }

        .myAccount {
          @include mobile550 {
            display: none;
          }
        }
      }

      .contact {
        @include miniLaptop {
          display: none;
        }
      }

      .seller {
        background-color: crimson;
      }

      .start {
        background-color: $bgSecondary;
      }

      .auth {
        background-color: teal;
      }

      .hamburger {
        cursor: pointer;
        font-size: 24px;
        display: none;

        @include miniLaptop {
          display: flex;
        }
      }
    }

    .carousel {
      color: #ffff99;

      @include tabLet {
        display: none;
      }
    }
  }
}
