@import "../../app/global.scss";

.topSellingProducts {
  background-color: $bgLight;
  display: flex;
  flex-direction: column;
  width: 100%;

  .topSellingTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $bgPrimary;
    color: $textLight;
    padding: 10px;

    @include mobile550 {
      font-size: 14px;
    }

    h2 {
      font-weight: bold;
    }

    .viewButton {
      display: flex;
      align-items: center;
      gap: 3px;
      cursor: pointer;
      background-color: $bgSecondary;
      padding: 8px;
      border-radius: 6px;
      font-weight: bold;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }

      .vieIcon {
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .topSellingBottom {
    padding: 10px;

    .products {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }
}
