.sellers {
  min-height: 100vh;

  .sellerWrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    h2 {
      font-size: 30px;
    }
  }
}
